<p id="notice"><%= notice %></p>

<p>
  <b>Gen artifact category:</b>
  <%= @gen_artifact_category.gen_artifact_category %>
</p>


<%= link_to 'Edit', edit_gen_artifact_category_path(@gen_artifact_category) %> |
<%= link_to 'Back', gen_artifact_categories_path %>
