<p id="notice"><%= notice %></p>

<p>
  <b>Rank order:</b>
  <%= @context_rank_order.rank_order %>
</p>


<%= link_to 'Edit', edit_context_rank_order_path(@context_rank_order) %> |
<%= link_to 'Back', context_rank_orders_path %>
