<p id="notice"><%= notice %></p>

<p>
  <b>Utensil manu tech:</b>
  <%= @utensil_manu_tech.utensil_manu_tech %>
</p>


<%= link_to 'Edit', edit_utensil_manu_tech_path(@utensil_manu_tech) %> |
<%= link_to 'Back', utensil_manu_teches_path %>
