<h1>Listing context_sample_institutions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @context_sample_institutions.each do |context_sample_institution| %>
      <tr>
        <td><%= link_to 'Show', context_sample_institution %></td>
        <td><%= link_to 'Edit', edit_context_sample_institution_path(context_sample_institution) %></td>
        <td><%= link_to 'Destroy', context_sample_institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Context sample institution', new_context_sample_institution_path %>
