<p id="notice"><%= notice %></p>

<p>
  <b>Tobacco pipe manu tech:</b>
  <%= @tobacco_pipe_manu_tech.tobacco_pipe_manu_tech %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_manu_tech_path(@tobacco_pipe_manu_tech) %> |
<%= link_to 'Back', tobacco_pipe_manu_teches_path %>
