<p id="notice"><%= notice %></p>

<p>
  <b>Kidd bead type:</b>
  <%= @bead_kidd_bead_type.kidd_bead_type %>
</p>


<%= link_to 'Edit', edit_bead_kidd_bead_type_path(@bead_kidd_bead_type) %> |
<%= link_to 'Back', bead_kidd_bead_types_path %>
