<div class="visual">
	<!-- <div class="frame">
		<img src="http://daacsrc.org/media/images/Partners_DkTeal.png" alt="#">
	</div> -->
	<h1><span>Partners</span></h1>
</div><!-- visual -->

<ul class="sponsors partners">
	<li>
		<img class="logo" src="http://daacsrc.org/media/images/AnnaLindsay_HS.jpg" alt="#">
	<h2>Lindsay Bloch (left), University of North Carolina and Anna Agbe-Davies (right), Associate Professor of Anthropology, The University of North Carolina, Chapel Hill</h2>
		<p>Academic Partner since 2000.</p>
	</li>
	<li>
		<img class="logo logo-03" src="http://daacsrc.org/media/images/DougSarah_HS.jpg" alt="#">
		<h2>Douglas V. Armstrong , Laura J. and L. Douglas Meredith Professor and Maxwell Professor of Teaching Excellence, Department of Anthropology, Syracuse University and Sara McNamara, Syracuse University</h2>
		<p>Academic Partner since 2006.</p>
	</li>
	<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/MaryLaura_HS.jpg" alt="#">
		<h2>Mary Beaudry (left), Professor of Archaeology, Anthropology, and Gastronomy and Laura Masur (right), Boston University</h2>
		<p>Academic Partner since 2013.</p>
	</li>
	<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/CharlieBrandy_HS.jpg" alt="#">
		<h2>Charles Cobb, Lockwood Professor of Historical Archaeology, University of Florida, and Brandy Joy, The South Carolina Institute for Anthropology and Archaeology and the University of South Carolina </h2>
		<p>Institutional Partner since 2006.</p>
	</li>
	<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/DorrickMichelle_HS.png" alt="#">
		<h2>Dorrick Gray, Director of Archaeology, The Jamaica National Heritage Trust and Michelle Topping, Archaeology Finds Officer, JNHT </h2>
		<p>Institutional Partner since 2006.</p>
	</li>
	<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/MarkAllanKhadene_HS.png" alt="#">
		<h2>Mark Hauser (center), Associate Professor, Northwestern University with Alan Armstrong and Khadene Harris, Northwestern University</h2>
		<p>Academic Partner since 2013.</p>
	</li>
	<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/HopeBarbara_HS.png" alt="#">
		<h2>Barbara Heath (right), Associate Professor of Anthropology, The University of Tennessee and Hope Smith (left), The University of Tennessee</h2>
		<p>Academic and Institutional Partner since 2000.</p>
	</li>
	<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/CarterSarah_HS.jpg" alt="#">
		<h2>Carter Hudgins, Acting Executive Director and Sarah Stroud Clarke, Archaeologist and Curator of Collections, Drayton Hall Preservation Trust </h2>
		<p>Institutional Partner since 2012.</p>
	</li>
	<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/FredCamille_HS.jpg" alt="#">
		<h2>Frederick Smith, Associate Professor of Anthropology, The College of William and Mary and Camille Chambers, College of William and Mary</h2>
		<p>Academic Partner since 2013.</p>
	</li>
	<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/KarenEleanor_HS.jpg" alt="#">
		<h2>Eleanor Breen (right), Director of Archaeology, Mount Vernon and Karen Price (left), Historic Preservation Lab Manager and Photographer, Mount Vernon</h2>
		<p>Institutional Partners since 2000.</p>
	</li>

<li>
		<img class="logo logo-04" src="http://daacsrc.org/media/images/JillianHayden_HS.jpg" alt="#">
		<h2>Jillian Galle (left), Director of DAACS and Co-Director of DAACS Caribbean Initiative, and Hayden Bassett (right), College of William and Mary</h2>
		<p>Institutional and Academic Partners since 2013.</p>
	</li>

</ul><!-- sponsors -->

