<div class="visual">
	<!-- <div class="frame">
		<img src="<%= asset_path('Sponsors_Grey.png') %>" alt="#">
	</div> -->
	<h1><span>Sponsors</span></h1>
</div><!-- visual -->
<ul class="sponsors">
	<li>
		<a href="http://www.mellon.org/"><img class="logo logo-04" src="<%= asset_path('logo-08.png') %>" alt="#"></a>
		<p>The Andrew W. Mellon Foundation supports innovative, long-term collaborative projects in five core program areas: higher education and scholarship, scholarly communications and information technology, art history and conversation, performing arts, and conversation and the environment.  Mellon’s grant-making philosophy is to build, strengthen, and sustain institutions and their core capacities, by investing sufficient funds for an extended period to accomplish the purpose at hand and achieve meaningful results.  The Andrew W. Mellon Foundation’s Scholarly Communications and Information Technology Program provided the financial support to develop and build The Digital Archaeological Archive of Chesapeake Slavery through in an initial 4-year grant (2000-2004).  In 2004, DAACS received a three-year grant (2005-2007) that provided for the addition of 22 new sites from the Chesapeake, the Carolinas, and the Caribbean. In 2013, The Mellon Foundation’s Scholarly Communications and Information Technology Program provided the financial support to create and build the DAACS Research Consortium.</p>
	</li>
	<li>
		<a href="http://www.monticello.org/"><img class="logo logo-03" src="<%= asset_path('logo-07.png') %>" alt="#"></a>
		<p>The Thomas Jefferson Foundation owns and maintains Monticello including the core of Jefferson’s 2500-acre plantation. Monticello is a National Historic Landmark and the only house in the United States designated an UNESCO World Heritage site.</p>
		<p>As a private, nonprofit 501(c)3 corporation, the Foundation receives no ongoing federal, state, or local funding in support of its dual mission of preservation and education. Today, the Thomas Jefferson Foundation remains committed to a twofold mission:</p>
		<ol>
		<li>Preservation – to conserve, protect, and maintain Monticello in a manner which leaves it enhanced and unimpaired for future generations.</li>
		<li>Education – to research, interpret, and present Thomas Jefferson and his world to the widest possible audiences, including scholars and the general public.</li>
		</ol>
		<p>The Thomas Jefferson Foundation is the founding sponsor and home of The Digital Archaeological Archive of Comparative Slavery.  DAACS was conceived, built, and is maintained by the Monticello Department of Archaeology, a division of the Robert H. Smith International Center for Jefferson Studies.</p>
	</li>
	<li>
		<a href="http://www.daacs.org/"><img class="logo" src="<%= asset_path('logo-05.png') %>" alt="#"></a>
		<p>The Digital Archaeological Archive of Comparative Slavery is a Web-based initiative designed to foster inter-site, comparative archaeological research on slavery throughout the Chesapeake, the Carolinas, and the Caribbean. The Archive’s goal is to help scholars from different disciplines use archaeological evidence to advance historical understanding of the slave-based society that evolved in the Atlantic World during the colonial and ante-bellum periods. The archive was conceived and built by archaeologists at Monticello, with the collaboration of archaeologists, historians, and research institutions from across the Atlantic World.  As a result, DAACS serves as a model for the use of the Web to foster new kinds of scholarly collaboration and data sharing among archaeologists working in a single region.</p>
		<p>DAACS is supported in part by a dedicated endowment seeded by a National Endowment for the Humanities Challenge Grant, award in 2001.  This endowment provides significant support for the DAACS Research Consortium.
		</p>
	</li>
</ul><!-- sponsors -->
