<p id="notice"><%= notice %></p>

<p>
  <b>Casing layer:</b>
  <%= @bead_casing_layer.casing_layer %>
</p>


<%= link_to 'Edit', edit_bead_casing_layer_path(@bead_casing_layer) %> |
<%= link_to 'Back', bead_casing_layers_path %>
