<p id="notice"><%= notice %></p>

<p>
  <b>Object type:</b>
  <%= @gen_object_type.object_type %>
</p>


<%= link_to 'Edit', edit_gen_object_type_path(@gen_object_type) %> |
<%= link_to 'Back', gen_object_types_path %>
