<p id="notice"><%= notice %></p>

<p>
  <b>Nail modification:</b>
  <%= @gen_artifact_nail_modification.nail_modification %>
</p>


<%= link_to 'Edit', edit_gen_artifact_nail_modification_path(@gen_artifact_nail_modification) %> |
<%= link_to 'Back', gen_artifact_nail_modifications_path %>
