<p id="notice"><%= notice %></p>

<p>
  <b>Bead material:</b>
  <%= @bead_material.bead_material %>
</p>


<%= link_to 'Edit', edit_bead_material_path(@bead_material) %> |
<%= link_to 'Back', bead_materials_path %>
