<p id="notice"><%= notice %></p>

<p>
  <b>Plan shape:</b>
  <%= @context_feature_plan_shape.plan_shape %>
</p>


<%= link_to 'Edit', edit_context_feature_plan_shape_path(@context_feature_plan_shape) %> |
<%= link_to 'Back', context_feature_plan_shapes_path %>
