<p id="notice"><%= notice %></p>

<p>
  <b>Pipe text mark type:</b>
  <%= @tobacco_pipe_text_mark_type.pipe_text_mark_type %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_text_mark_type_path(@tobacco_pipe_text_mark_type) %> |
<%= link_to 'Back', tobacco_pipe_text_mark_types_path %>
