<p id="notice"><%= notice %></p>

<p>
  <b>Rim angle:</b>
  <%= @ceramic_rim_angle.rim_angle %>
</p>


<%= link_to 'Edit', edit_ceramic_rim_angle_path(@ceramic_rim_angle) %> |
<%= link_to 'Back', ceramic_rim_angles_path %>
