<p id="notice"><%= notice %></p>

<p>
  <b>Glass bottle manu tech:</b>
  <%= @glass_bottle_manu_tech.glass_bottle_manu_tech %>
</p>


<%= link_to 'Edit', edit_glass_bottle_manu_tech_path(@glass_bottle_manu_tech) %> |
<%= link_to 'Back', glass_bottle_manu_teches_path %>
