<p id="notice"><%= notice %></p>

<p>
  <b>Chew type:</b>
  <%= @bone_chew_type.chew_type %>
</p>


<%= link_to 'Edit', edit_bone_chew_type_path(@bone_chew_type) %> |
<%= link_to 'Back', bone_chew_types_path %>
