<p id="notice"><%= notice %></p>

<p>
  <b>Recovery method:</b>
  <%= @context_recovery_method.recovery_method %>
</p>


<%= link_to 'Edit', edit_context_recovery_method_path(@context_recovery_method) %> |
<%= link_to 'Back', context_recovery_methods_path %>
