<p id="notice"><%= notice %></p>

<p>
  <strong>Imagematerial:</strong>
  <%= @image_material.ImageMaterial %>
</p>

<%= link_to 'Edit', edit_image_material_path(@image_material) %> |
<%= link_to 'Back', image_materials_path %>
