<p id="notice"><%= notice %></p>

<p>
  <b>Measuring description:</b>
  <%= @bone_measuring_description.measuring_description %>
</p>


<%= link_to 'Edit', edit_bone_measuring_description_path(@bone_measuring_description) %> |
<%= link_to 'Back', bone_measuring_descriptions_path %>
