<p id="notice"><%= notice %></p>

<p>
  <b>Buckle shape:</b>
  <%= @buckle_shape.buckle_shape %>
</p>


<%= link_to 'Edit', edit_buckle_shape_path(@buckle_shape) %> |
<%= link_to 'Back', buckle_shapes_path %>
