<p id="notice"><%= notice %></p>

<p>
  <b>Glaze type:</b>
  <%= @tobacco_pipe_glaze_type.glaze_type %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_glaze_type_path(@tobacco_pipe_glaze_type) %> |
<%= link_to 'Back', tobacco_pipe_glaze_types_path %>
