<p id="notice"><%= notice %></p>

<p>
  <b>Buckle dec tech type:</b>
  <%= @buckle_dec_tech_type.buckle_dec_tech_type %>
</p>


<%= link_to 'Edit', edit_buckle_dec_tech_type_path(@buckle_dec_tech_type) %> |
<%= link_to 'Back', buckle_dec_tech_types_path %>
