<h1>Listing ceramic_sty_elem_dec_teches</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ceramic_sty_elem_dec_teches.each do |ceramic_sty_elem_dec_tech| %>
      <tr>
        <td><%= link_to 'Show', ceramic_sty_elem_dec_tech %></td>
        <td><%= link_to 'Edit', edit_ceramic_sty_elem_dec_tech_path(ceramic_sty_elem_dec_tech) %></td>
        <td><%= link_to 'Destroy', ceramic_sty_elem_dec_tech, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ceramic sty elem dec tech', new_ceramic_sty_elem_dec_tech_path %>
