<p id="notice"><%= notice %></p>

<p>
  <b>Butcher method:</b>
  <%= @bone_butcher_method.butcher_method %>
</p>


<%= link_to 'Edit', edit_bone_butcher_method_path(@bone_butcher_method) %> |
<%= link_to 'Back', bone_butcher_methods_path %>
