<p id="notice"><%= notice %></p>

<p>
  <b>Elevation type:</b>
  <%= @project_elevation_type.elevation_type %>
</p>


<%= link_to 'Edit', edit_project_elevation_type_path(@project_elevation_type) %> |
<%= link_to 'Back', project_elevation_types_path %>
