<p id="notice"><%= notice %></p>

<p>
  <strong>Buttonshape:</strong>
  <%= @button_shape.ButtonShape %>
</p>

<%= link_to 'Edit', edit_button_shape_path(@button_shape) %> |
<%= link_to 'Back', button_shapes_path %>
