<p id="notice"><%= notice %></p>

<p>
  <b>Tooth type:</b>
  <%= @bone_tooth_type.tooth_type %>
</p>


<%= link_to 'Edit', edit_bone_tooth_type_path(@bone_tooth_type) %> |
<%= link_to 'Back', bone_tooth_types_path %>
