<p id="notice"><%= notice %></p>

<p>
  <b>Mold type:</b>
  <%= @glass_mold_type.mold_type %>
</p>


<%= link_to 'Edit', edit_glass_mold_type_path(@glass_mold_type) %> |
<%= link_to 'Back', glass_mold_types_path %>
