<h1>Editing ceramic_sty_elem_individual_design_element</h1>

<%= render 'form' %>

<%= link_to 'Show', @ceramic_sty_elem_individual_design_element %> |
<%= link_to 'Back', ceramic_sty_elem_individual_design_elements_path %>
