<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic dec tech motif:</b>
  <%= @ceramic_dec_tech_motif.ceramic_dec_tech_motif %>
</p>


<%= link_to 'Edit', edit_ceramic_dec_tech_motif_path(@ceramic_dec_tech_motif) %> |
<%= link_to 'Back', ceramic_dec_tech_motifs_path %>
