<p id="notice"><%= notice %></p>

<p>
  <b>Unit type:</b>
  <%= @context_unit_type.unit_type %>
</p>


<%= link_to 'Edit', edit_context_unit_type_path(@context_unit_type) %> |
<%= link_to 'Back', context_unit_types_path %>
