<p id="notice"><%= notice %></p>

<p>
  <b>Artifact:</b>
  <%= @bead_casing.artifact_id %>
</p>


<%= link_to 'Edit', edit_bead_casing_path(@bead_casing) %> |
<%= link_to 'Back', bead_casings_path %>
