<p id="notice"><%= notice %></p>

<p>
  <b>Percentage:</b>
  <%= @context_percentage.percentage %>
</p>


<%= link_to 'Edit', edit_context_percentage_path(@context_percentage) %> |
<%= link_to 'Back', context_percentages_path %>
