<p id="notice"><%= notice %></p>

<p>
  <b>Pipe text frame motif:</b>
  <%= @tobacco_pipe_text_frame_motif.pipe_text_frame_motif %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_text_frame_motif_path(@tobacco_pipe_text_frame_motif) %> |
<%= link_to 'Back', tobacco_pipe_text_frame_motifs_path %>
