<p id="notice"><%= notice %></p>

<p>
  <strong>Motifmanutech:</strong>
  <%= @tobacco_pipe_motif_manu_tech.MotifManuTech %>
</p>

<%= link_to 'Edit', edit_tobacco_pipe_motif_manu_tech_path(@tobacco_pipe_motif_manu_tech) %> |
<%= link_to 'Back', tobacco_pipe_motif_manu_teches_path %>
