<p id="notice"><%= notice %></p>

<p>
  <b>Utensil shape:</b>
  <%= @utensil_shape.utensil_shape %>
</p>


<%= link_to 'Edit', edit_utensil_shape_path(@utensil_shape) %> |
<%= link_to 'Back', utensil_shapes_path %>
