<p id="notice"><%= notice %></p>

<p>
  <b>County:</b>
  <%= @project_county.county %>
</p>


<%= link_to 'Edit', edit_project_county_path(@project_county) %> |
<%= link_to 'Back', project_counties_path %>
