<p id="notice"><%= notice %></p>

<p>
  <b>Context elevation loc:</b>
  <%= @context_elevation_location.context_elevation_loc %>
</p>


<%= link_to 'Edit', edit_context_elevation_location_path(@context_elevation_location) %> |
<%= link_to 'Back', context_elevation_locations_path %>
