<p id="notice"><%= notice %></p>

<p>
  <b>Glass vessel category:</b>
  <%= @glass_vessel_category.glass_vessel_category %>
</p>


<%= link_to 'Edit', edit_glass_vessel_category_path(@glass_vessel_category) %> |
<%= link_to 'Back', glass_vessel_categories_path %>
