<p id="notice"><%= notice %></p>

<p>
  <b>Levelof treatment:</b>
  <%= @project_levelof_treatment.levelof_treatment %>
</p>


<%= link_to 'Edit', edit_project_levelof_treatment_path(@project_levelof_treatment) %> |
<%= link_to 'Back', project_levelof_treatments_path %>
