<p id="notice"><%= notice %></p>

<p>
  <b>Symmetry:</b>
  <%= @bone_symmetry.symmetry %>
</p>


<%= link_to 'Edit', edit_bone_symmetry_path(@bone_symmetry) %> |
<%= link_to 'Back', bone_symmetries_path %>
