<h1>Editing ceramic_sty_elem_individual_design</h1>

<%= render 'form' %>

<%= link_to 'Show', @ceramic_sty_elem_individual_design %> |
<%= link_to 'Back', ceramic_sty_elem_individual_designs_path %>
