<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_ceramic_sty_elem_individual_design_path(@ceramic_sty_elem_individual_design) %> |
<%= link_to 'Back', ceramic_sty_elem_individual_designs_path %>
