<p id="notice"><%= notice %></p>

<p>
  <b>Button metal color:</b>
  <%= @button_metal_color.button_metal_color %>
</p>


<%= link_to 'Edit', edit_button_metal_color_path(@button_metal_color) %> |
<%= link_to 'Back', button_metal_colors_path %>
