<p id="notice"><%= notice %></p>

<p>
  <b>Place name:</b>
  <%= @project_place_name.place_name %>
</p>


<%= link_to 'Edit', edit_project_place_name_path(@project_place_name) %> |
<%= link_to 'Back', project_place_names_path %>
