<p id="notice"><%= notice %></p>

<p>
  <b>Button decoration:</b>
  <%= @button_decoration.button_decoration %>
</p>


<%= link_to 'Edit', edit_button_decoration_path(@button_decoration) %> |
<%= link_to 'Back', button_decorations_path %>
