<p id="notice"><%= notice %></p>

<p>
  <b>Buckle completeness:</b>
  <%= @buckle_completeness.buckle_completeness %>
</p>


<%= link_to 'Edit', edit_buckle_completeness_path(@buckle_completeness) %> |
<%= link_to 'Back', buckle_completenesses_path %>
