<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic completeness:</b>
  <%= @ceramic_completeness.ceramic_completeness %>
</p>


<%= link_to 'Edit', edit_ceramic_completeness_path(@ceramic_completeness) %> |
<%= link_to 'Back', ceramic_completenesses_path %>
