<p id="notice"><%= notice %></p>

<p>
  <b>Frame plating:</b>
  <%= @buckle_frame_plating.frame_plating %>
</p>


<%= link_to 'Edit', edit_buckle_frame_plating_path(@buckle_frame_plating) %> |
<%= link_to 'Back', buckle_frame_platings_path %>
