<p id="notice"><%= notice %></p>

<p>
  <b>Stemware foot shape:</b>
  <%= @glass_stemware_foot_shape.stemware_foot_shape %>
</p>


<%= link_to 'Edit', edit_glass_stemware_foot_shape_path(@glass_stemware_foot_shape) %> |
<%= link_to 'Back', glass_stemware_foot_shapes_path %>
