<%= form_for(@project_country) do |f| %>
  <% if @project_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_country.errors.count, "error") %> prohibited this project_country from being saved:</h2>

      <ul>
      <% @project_country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
