<p id="notice"><%= notice %></p>

<p>
  <b>Region:</b>
  <%= @project_region.region %>
</p>


<%= link_to 'Edit', edit_project_region_path(@project_region) %> |
<%= link_to 'Back', project_regions_path %>
