<p id="notice"><%= notice %></p>

<p>
  <b>Geo coordinate system:</b>
  <%= @project_geo_coordinate_system.geo_coordinate_system %>
</p>


<%= link_to 'Edit', edit_project_geo_coordinate_system_path(@project_geo_coordinate_system) %> |
<%= link_to 'Back', project_geo_coordinate_systems_path %>
