<p id="notice"><%= notice %></p>

<p>
  <b>Bead complex shape:</b>
  <%= @bead_complex_shape.bead_complex_shape %>
</p>


<%= link_to 'Edit', edit_bead_complex_shape_path(@bead_complex_shape) %> |
<%= link_to 'Back', bead_complex_shapes_path %>
