<p id="notice"><%= notice %></p>

<p>
  <b>Utensil plating:</b>
  <%= @utensil_plating.utensil_plating %>
</p>


<%= link_to 'Edit', edit_utensil_plating_path(@utensil_plating) %> |
<%= link_to 'Back', utensil_platings_path %>
