<p id="notice"><%= notice %></p>

<p>
  <b>Pipe material:</b>
  <%= @tobacco_pipe_material.pipe_material %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_material_path(@tobacco_pipe_material) %> |
<%= link_to 'Back', tobacco_pipe_materials_path %>
