<p id="notice"><%= notice %></p>

<p>
  <b>Stemware body shape:</b>
  <%= @glass_stemware_body_shape.stemware_body_shape %>
</p>


<%= link_to 'Edit', edit_glass_stemware_body_shape_path(@glass_stemware_body_shape) %> |
<%= link_to 'Back', glass_stemware_body_shapes_path %>
