<p id="notice"><%= notice %></p>

<p>
  <b>Bone mark location:</b>
  <%= @bone_mark_location.bone_mark_location %>
</p>


<%= link_to 'Edit', edit_bone_mark_location_path(@bone_mark_location) %> |
<%= link_to 'Back', bone_mark_locations_path %>
