<p id="notice"><%= notice %></p>

<p>
  <b>Glass dec tech type:</b>
  <%= @glass_dec_tech_type.glass_dec_tech_type %>
</p>


<%= link_to 'Edit', edit_glass_dec_tech_type_path(@glass_dec_tech_type) %> |
<%= link_to 'Back', glass_dec_tech_types_path %>
