<p id="notice"><%= notice %></p>

<p>
  <b>Bone condition:</b>
  <%= @bone_condition.bone_condition %>
</p>


<%= link_to 'Edit', edit_bone_condition_path(@bone_condition) %> |
<%= link_to 'Back', bone_conditions_path %>
