<p id="notice"><%= notice %></p>

<p>
  <b>Button join method:</b>
  <%= @button_join_method.button_join_method %>
</p>


<%= link_to 'Edit', edit_button_join_method_path(@button_join_method) %> |
<%= link_to 'Back', button_join_methods_path %>
