<p id="notice"><%= notice %></p>

<p>
  <b>Gen artifact material type:</b>
  <%= @gen_artifact_material_type.gen_artifact_material_type %>
</p>


<%= link_to 'Edit', edit_gen_artifact_material_type_path(@gen_artifact_material_type) %> |
<%= link_to 'Back', gen_artifact_material_types_path %>
