<p id="notice"><%= notice %></p>

<p>
  <b>Use wear pattern:</b>
  <%= @ceramic_use_wear_pattern.use_wear_pattern %>
</p>


<%= link_to 'Edit', edit_ceramic_use_wear_pattern_path(@ceramic_use_wear_pattern) %> |
<%= link_to 'Back', ceramic_use_wear_patterns_path %>
