<p id="notice"><%= notice %></p>

<p>
  <b>Gen artifact completeness:</b>
  <%= @gen_artifact_completeness.gen_artifact_completeness %>
</p>


<%= link_to 'Edit', edit_gen_artifact_completeness_path(@gen_artifact_completeness) %> |
<%= link_to 'Back', gen_artifact_completenesses_path %>
