<p id="notice"><%= notice %></p>

<p>
  <b>Fork tine count:</b>
  <%= @utensil_fork_tine_count.fork_tine_count %>
</p>


<%= link_to 'Edit', edit_utensil_fork_tine_count_path(@utensil_fork_tine_count) %> |
<%= link_to 'Back', utensil_fork_tine_counts_path %>
