<p id="notice"><%= notice %></p>

<p>
  <b>Tooth wear:</b>
  <%= @bone_tooth_wear.tooth_wear %>
</p>


<%= link_to 'Edit', edit_bone_tooth_wear_path(@bone_tooth_wear) %> |
<%= link_to 'Back', bone_tooth_wears_path %>
