<p id="notice"><%= notice %></p>

<p>
  <b>Bead decoration:</b>
  <%= @bead_decoration.bead_decoration %>
</p>


<%= link_to 'Edit', edit_bead_decoration_path(@bead_decoration) %> |
<%= link_to 'Back', bead_decorations_path %>
