<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @tobacco_pipe.quantity %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_path(@tobacco_pipe) %> |
<%= link_to 'Back', tobacco_pipes_path %>
