<p id="notice"><%= notice %></p>

<p>
  <b>Pontil mark:</b>
  <%= @glass_pontil_mark.pontil_mark %>
</p>


<%= link_to 'Edit', edit_glass_pontil_mark_path(@glass_pontil_mark) %> |
<%= link_to 'Back', glass_pontil_marks_path %>
