<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic dec tech location:</b>
  <%= @ceramic_dec_tech_location.ceramic_dec_tech_location %>
</p>


<%= link_to 'Edit', edit_ceramic_dec_tech_location_path(@ceramic_dec_tech_location) %> |
<%= link_to 'Back', ceramic_dec_tech_locations_path %>
