<p id="notice"><%= notice %></p>

<p>
  <b>Oxidized versus reduced:</b>
  <%= @ceramic_oxidized.oxidized_versus_reduced %>
</p>


<%= link_to 'Edit', edit_ceramic_oxidized_path(@ceramic_oxidized) %> |
<%= link_to 'Back', ceramic_oxidizeds_path %>
