<p id="notice"><%= notice %></p>

<p>
  <b>Glass bottle element:</b>
  <%= @glass_bottle_element.glass_bottle_element %>
</p>


<%= link_to 'Edit', edit_glass_bottle_element_path(@glass_bottle_element) %> |
<%= link_to 'Back', glass_bottle_elements_path %>
