<p id="notice"><%= notice %></p>

<p>
  <b>Structure:</b>
  <%= @bead_structure.structure %>
</p>


<%= link_to 'Edit', edit_bead_structure_path(@bead_structure) %> |
<%= link_to 'Back', bead_structures_path %>
