<p id="notice"><%= notice %></p>

<p>
  <b>Buckle type:</b>
  <%= @buckle_type.buckle_type %>
</p>


<%= link_to 'Edit', edit_buckle_type_path(@buckle_type) %> |
<%= link_to 'Back', buckle_types_path %>
