<p id="notice"><%= notice %></p>

<p>
  <b>Plantation name:</b>
  <%= @plantation.plantation_name %>
</p>


<%= link_to 'Edit', edit_plantation_path(@plantation) %> |
<%= link_to 'Back', plantations_path %>
