<p id="notice"><%= notice %></p>

<p>
  <b>Gen artifact dec tech type:</b>
  <%= @gen_artifact_dec_tech_type.gen_artifact_dec_tech_type %>
</p>


<%= link_to 'Edit', edit_gen_artifact_dec_tech_type_path(@gen_artifact_dec_tech_type) %> |
<%= link_to 'Back', gen_artifact_dec_tech_types_path %>
