<p id="notice"><%= notice %></p>

<p>
  <b>Gen artifact form:</b>
  <%= @gen_artifact_form.gen_artifact_form %>
</p>


<%= link_to 'Edit', edit_gen_artifact_form_path(@gen_artifact_form) %> |
<%= link_to 'Back', gen_artifact_forms_path %>
