<p id="notice"><%= notice %></p>

<p>
  <b>Evidenceof burning:</b>
  <%= @ceramic_burning.evidenceof_burning %>
</p>


<%= link_to 'Edit', edit_ceramic_burning_path(@ceramic_burning) %> |
<%= link_to 'Back', ceramic_burnings_path %>
