<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic material:</b>
  <%= @ceramic_material.ceramic_material %>
</p>


<%= link_to 'Edit', edit_ceramic_material_path(@ceramic_material) %> |
<%= link_to 'Back', ceramic_materials_path %>
