<p id="notice"><%= notice %></p>

<p>
  <b>Bone descriptor:</b>
  <%= @bone_descriptor.bone_descriptor %>
</p>


<%= link_to 'Edit', edit_bone_descriptor_path(@bone_descriptor) %> |
<%= link_to 'Back', bone_descriptors_path %>
