<p id="notice"><%= notice %></p>

<p>
  <b>Chew location:</b>
  <%= @bone_chew_location.chew_location %>
</p>


<%= link_to 'Edit', edit_bone_chew_location_path(@bone_chew_location) %> |
<%= link_to 'Back', bone_chew_locations_path %>
