<p id="notice"><%= notice %></p>

<p>
  <b>Taxon category:</b>
  <%= @bone_taxon_category.taxon_category %>
</p>


<%= link_to 'Edit', edit_bone_taxon_category_path(@bone_taxon_category) %> |
<%= link_to 'Back', bone_taxon_categories_path %>
