<p id="notice"><%= notice %></p>

<p>
  <b>Button material:</b>
  <%= @button_material.button_material %>
</p>


<%= link_to 'Edit', edit_button_material_path(@button_material) %> |
<%= link_to 'Back', button_materials_path %>
