<p id="notice"><%= notice %></p>

<p>
  <b>Buckle material:</b>
  <%= @buckle_material.buckle_material %>
</p>


<%= link_to 'Edit', edit_buckle_material_path(@buckle_material) %> |
<%= link_to 'Back', buckle_materials_path %>
