<p id="notice"><%= notice %></p>

<p>
  <b>Glass bottle treatment:</b>
  <%= @glass_bottle_treatment.glass_bottle_treatment %>
</p>


<%= link_to 'Edit', edit_glass_bottle_treatment_path(@glass_bottle_treatment) %> |
<%= link_to 'Back', glass_bottle_treatments_path %>
