<p id="notice"><%= notice %></p>

<p>
  <b>Utensil part:</b>
  <%= @utensil_part.utensil_part %>
</p>


<%= link_to 'Edit', edit_utensil_part_path(@utensil_part) %> |
<%= link_to 'Back', utensil_parts_path %>
