<p id="notice"><%= notice %></p>

<p>
  <b>Button type:</b>
  <%= @button_type.button_type %>
</p>


<%= link_to 'Edit', edit_button_type_path(@button_type) %> |
<%= link_to 'Back', button_types_path %>
