<%= form_for(@acdistance) do |f| %>
  <% if @acdistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acdistance.errors.count, "error") %> prohibited this acdistance from being saved:</h2>

      <ul>
      <% @acdistance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
