<p id="notice"><%= notice %></p>

<p>
  <b>Deposit type:</b>
  <%= @context_deposit_type.deposit_type %>
</p>


<%= link_to 'Edit', edit_context_deposit_type_path(@context_deposit_type) %> |
<%= link_to 'Back', context_deposit_types_path %>
