<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic genre:</b>
  <%= @ceramic_genre.ceramic_genre %>
</p>


<%= link_to 'Edit', edit_ceramic_genre_path(@ceramic_genre) %> |
<%= link_to 'Back', ceramic_genres_path %>
