<p id="notice"><%= notice %></p>

<p>
  <strong>Imageform:</strong>
  <%= @image_form.ImageForm %>
</p>

<%= link_to 'Edit', edit_image_form_path(@image_form) %> |
<%= link_to 'Back', image_forms_path %>
