<p id="notice"><%= notice %></p>

<p>
  <b>Inclusion size:</b>
  <%= @context_inclusion_size.inclusion_size %>
</p>


<%= link_to 'Edit', edit_context_inclusion_size_path(@context_inclusion_size) %> |
<%= link_to 'Back', context_inclusion_sizes_path %>
