<p id="notice"><%= notice %></p>

<p>
  <b>Nail head type:</b>
  <%= @gen_artifact_nail_head.nail_head_type %>
</p>


<%= link_to 'Edit', edit_gen_artifact_nail_head_path(@gen_artifact_nail_head) %> |
<%= link_to 'Back', gen_artifact_nail_heads_path %>
