<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic form:</b>
  <%= @ceramic_form.ceramic_form %>
</p>


<%= link_to 'Edit', edit_ceramic_form_path(@ceramic_form) %> |
<%= link_to 'Back', ceramic_forms_path %>
