<p id="notice"><%= notice %></p>

<p>
  <b>Bowl base form:</b>
  <%= @tobacco_pipe_bowl_form.bowl_base_form %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_bowl_form_path(@tobacco_pipe_bowl_form) %> |
<%= link_to 'Back', tobacco_pipe_bowl_forms_path %>
