<p id="notice"><%= notice %></p>

<p>
  <b>Jewel inlay material:</b>
  <%= @button_jewel_inlay_material.jewel_inlay_material %>
</p>


<%= link_to 'Edit', edit_button_jewel_inlay_material_path(@button_jewel_inlay_material) %> |
<%= link_to 'Back', button_jewel_inlay_materials_path %>
