<p id="notice"><%= notice %></p>

<p>
  <b>Tobacco bowl completeness:</b>
  <%= @tobacco_pipe_bowl_completeness.tobacco_bowl_completeness %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_bowl_completeness_path(@tobacco_pipe_bowl_completeness) %> |
<%= link_to 'Back', tobacco_pipe_bowl_completenesses_path %>
