<p id="notice"><%= notice %></p>

<p>
  <b>Brick size:</b>
  <%= @gen_artifact_brick_size.brick_size %>
</p>


<%= link_to 'Edit', edit_gen_artifact_brick_size_path(@gen_artifact_brick_size) %> |
<%= link_to 'Back', gen_artifact_brick_sizes_path %>
