<p id="notice"><%= notice %></p>

<p>
  <b>Glass color:</b>
  <%= @glass_color.glass_color %>
</p>


<%= link_to 'Edit', edit_glass_color_path(@glass_color) %> |
<%= link_to 'Back', glass_colors_path %>
