<p id="notice"><%= notice %></p>

<p>
  <b>Inclusion description:</b>
  <%= @context_inclusion_description.inclusion_description %>
</p>


<%= link_to 'Edit', edit_context_inclusion_description_path(@context_inclusion_description) %> |
<%= link_to 'Back', context_inclusion_descriptions_path %>
