<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic glaze:</b>
  <%= @ceramic_glaze.ceramic_glaze %>
</p>


<%= link_to 'Edit', edit_ceramic_glaze_path(@ceramic_glaze) %> |
<%= link_to 'Back', ceramic_glazes_path %>
