<p id="notice"><%= notice %></p>

<p>
  <b>Buckle element:</b>
  <%= @buckle_element.buckle_element %>
</p>


<%= link_to 'Edit', edit_buckle_element_path(@buckle_element) %> |
<%= link_to 'Back', buckle_elements_path %>
