<p id="notice"><%= notice %></p>

<p>
  <b>Screen size:</b>
  <%= @context_screen_size.screen_size %>
</p>


<%= link_to 'Edit', edit_context_screen_size_path(@context_screen_size) %> |
<%= link_to 'Back', context_screen_sizes_path %>
