<p id="notice"><%= notice %></p>

<p>
  <b>Level type:</b>
  <%= @context_level_type.level_type %>
</p>


<%= link_to 'Edit', edit_context_level_type_path(@context_level_type) %> |
<%= link_to 'Back', context_level_types_path %>
