<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic manu tech:</b>
  <%= @ceramic_manu_tech.ceramic_manu_tech %>
</p>


<%= link_to 'Edit', edit_ceramic_manu_tech_path(@ceramic_manu_tech) %> |
<%= link_to 'Back', ceramic_manu_teches_path %>
