<p id="notice"><%= notice %></p>

<p>
  <b>Geo datum:</b>
  <%= @project_geo_datum.geo_datum %>
</p>


<%= link_to 'Edit', edit_project_geo_datum_path(@project_geo_datum) %> |
<%= link_to 'Back', project_geo_data_path %>
