<p id="notice"><%= notice %></p>

<p>
  <b>Buckle manu tech:</b>
  <%= @buckle_manu_tech.buckle_manu_tech %>
</p>


<%= link_to 'Edit', edit_buckle_manu_tech_path(@buckle_manu_tech) %> |
<%= link_to 'Back', buckle_manu_teches_path %>
