<h1>Listing ceramic_sty_elem_meta_data</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ceramic_sty_elem_meta_data.each do |ceramic_sty_elem_meta_datum| %>
      <tr>
        <td><%= link_to 'Show', ceramic_sty_elem_meta_datum %></td>
        <td><%= link_to 'Edit', edit_ceramic_sty_elem_meta_datum_path(ceramic_sty_elem_meta_datum) %></td>
        <td><%= link_to 'Destroy', ceramic_sty_elem_meta_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ceramic sty elem meta datum', new_ceramic_sty_elem_meta_datum_path %>
