<p id="notice"><%= notice %></p>

<p>
  <b>Unitof measurement:</b>
  <%= @project_unitof_measure.unitof_measurement %>
</p>


<%= link_to 'Edit', edit_project_unitof_measure_path(@project_unitof_measure) %> |
<%= link_to 'Back', project_unitof_measures_path %>
