<h1>Listing ceramic_sty_elem_genres</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ceramic_sty_elem_genres.each do |ceramic_sty_elem_genre| %>
      <tr>
        <td><%= link_to 'Show', ceramic_sty_elem_genre %></td>
        <td><%= link_to 'Edit', edit_ceramic_sty_elem_genre_path(ceramic_sty_elem_genre) %></td>
        <td><%= link_to 'Destroy', ceramic_sty_elem_genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ceramic sty elem genre', new_ceramic_sty_elem_genre_path %>
