<p id="notice"><%= notice %></p>

<p>
  <b>Glass completeness:</b>
  <%= @glass_completeness.glass_completeness %>
</p>


<%= link_to 'Edit', edit_glass_completeness_path(@glass_completeness) %> |
<%= link_to 'Back', glass_completenesses_path %>
