<p id="notice"><%= notice %></p>

<p>
  <b>Institution:</b>
  <%= @project_institution.institution %>
</p>


<%= link_to 'Edit', edit_project_institution_path(@project_institution) %> |
<%= link_to 'Back', project_institutions_path %>
