<p id="notice"><%= notice %></p>

<p>
  <b>Diaphaneity:</b>
  <%= @bead_diaphaneity.diaphaneity %>
</p>


<%= link_to 'Edit', edit_bead_diaphaneity_path(@bead_diaphaneity) %> |
<%= link_to 'Back', bead_diaphaneities_path %>
