<p id="notice"><%= notice %></p>

<p>
  <b>Butcher direction:</b>
  <%= @bone_butcher_direction.butcher_direction %>
</p>


<%= link_to 'Edit', edit_bone_butcher_direction_path(@bone_butcher_direction) %> |
<%= link_to 'Back', bone_butcher_directions_path %>
