<p id="notice"><%= notice %></p>

<p>
  <b>Utensil form:</b>
  <%= @utensil_form.utensil_form %>
</p>


<%= link_to 'Edit', edit_utensil_form_path(@utensil_form) %> |
<%= link_to 'Back', utensil_forms_path %>
