<p id="notice"><%= notice %></p>

<p>
  <b>Tobacco pipe dec motif:</b>
  <%= @tobacco_pipe_dec_motif.tobacco_pipe_dec_motif %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_dec_motif_path(@tobacco_pipe_dec_motif) %> |
<%= link_to 'Back', tobacco_pipe_dec_motifs_path %>
