<p id="notice"><%= notice %></p>

<p>
  <b>Bowl base type:</b>
  <%= @tobacco_pipe_bowl_base_type.bowl_base_type %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_bowl_base_type_path(@tobacco_pipe_bowl_base_type) %> |
<%= link_to 'Back', tobacco_pipe_bowl_base_types_path %>
