<p id="notice"><%= notice %></p>

<p>
  <b>Mouthpiece form:</b>
  <%= @tobacco_pipe_mouthpiece_form.mouthpiece_form %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_mouthpiece_form_path(@tobacco_pipe_mouthpiece_form) %> |
<%= link_to 'Back', tobacco_pipe_mouthpiece_forms_path %>
