<p id="notice"><%= notice %></p>

<p>
  <strong>Imagesubtype:</strong>
  <%= @image_subtype.ImageSubtype %>
</p>

<%= link_to 'Edit', edit_image_subtype_path(@image_subtype) %> |
<%= link_to 'Back', image_subtypes_path %>
