<p id="notice"><%= notice %></p>

<p>
  <b>Opening closing:</b>
  <%= @context_open_close.opening_closing %>
</p>


<%= link_to 'Edit', edit_context_open_close_path(@context_open_close) %> |
<%= link_to 'Back', context_open_closes_path %>
