<p id="notice"><%= notice %></p>

<p>
  <b>Glass bottle shape:</b>
  <%= @glass_bottle_shape.glass_bottle_shape %>
</p>


<%= link_to 'Edit', edit_glass_bottle_shape_path(@glass_bottle_shape) %> |
<%= link_to 'Back', glass_bottle_shapes_path %>
