<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic glaze opacity:</b>
  <%= @ceramic_glaze_opacity.ceramic_glaze_opacity %>
</p>


<%= link_to 'Edit', edit_ceramic_glaze_opacity_path(@ceramic_glaze_opacity) %> |
<%= link_to 'Back', ceramic_glaze_opacities_path %>
