<p id="notice"><%= notice %></p>

<p>
  <b>Glass dec tech sty elem:</b>
  <%= @glass_dec_tech_sty_elem.glass_dec_tech_sty_elem %>
</p>


<%= link_to 'Edit', edit_glass_dec_tech_sty_elem_path(@glass_dec_tech_sty_elem) %> |
<%= link_to 'Back', glass_dec_tech_sty_elems_path %>
