<p id="notice"><%= notice %></p>

<p>
  <b>Bead manu tech:</b>
  <%= @bead_manu_tech.bead_manu_tech %>
</p>


<%= link_to 'Edit', edit_bead_manu_tech_path(@bead_manu_tech) %> |
<%= link_to 'Back', bead_manu_teches_path %>
