<p id="notice"><%= notice %></p>

<p>
  <b>Mark direction:</b>
  <%= @bone_mark_direction.mark_direction %>
</p>


<%= link_to 'Edit', edit_bone_mark_direction_path(@bone_mark_direction) %> |
<%= link_to 'Back', bone_mark_directions_path %>
