<p id="notice"><%= notice %></p>

<p>
  <b>Shank material:</b>
  <%= @button_shank_material.shank_material %>
</p>


<%= link_to 'Edit', edit_button_shank_material_path(@button_shank_material) %> |
<%= link_to 'Back', button_shank_materials_path %>
