<p id="notice"><%= notice %></p>

<p>
  <b>Feature type:</b>
  <%= @context_feature_type.feature_type %>
</p>


<%= link_to 'Edit', edit_context_feature_type_path(@context_feature_type) %> |
<%= link_to 'Back', context_feature_types_path %>
