<p id="notice"><%= notice %></p>

<p>
  <b>Glass manu tech --skip stylesheets:</b>
  <%= @glass_manu_tech.glass_manu_tech --skip_stylesheets %>
</p>


<%= link_to 'Edit', edit_glass_manu_tech_path(@glass_manu_tech) %> |
<%= link_to 'Back', glass_manu_teches_path %>
