<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic cewdec mode:</b>
  <%= @ceramic_cewdec_mode.ceramic_cewdec_mode %>
</p>


<%= link_to 'Edit', edit_ceramic_cewdec_mode_path(@ceramic_cewdec_mode) %> |
<%= link_to 'Back', ceramic_cewdec_modes_path %>
