<p id="notice"><%= notice %></p>

<p>
  <b>Pattern name:</b>
  <%= @ceramic_pattern_name.pattern_name %>
</p>


<%= link_to 'Edit', edit_ceramic_pattern_name_path(@ceramic_pattern_name) %> |
<%= link_to 'Back', ceramic_pattern_names_path %>
