<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic cewtype:</b>
  <%= @ceramic_cewtype.ceramic_cewtype %>
</p>


<%= link_to 'Edit', edit_ceramic_cewtype_path(@ceramic_cewtype) %> |
<%= link_to 'Back', ceramic_cewtypes_path %>
