<p id="notice"><%= notice %></p>

<p>
  <b>Glass material:</b>
  <%= @glass_material.glass_material %>
</p>


<%= link_to 'Edit', edit_glass_material_path(@glass_material) %> |
<%= link_to 'Back', glass_materials_path %>
