<p id="notice"><%= notice %></p>

<p>
  <b>Drainage:</b>
  <%= @project_drainage.drainage %>
</p>


<%= link_to 'Edit', edit_project_drainage_path(@project_drainage) %> |
<%= link_to 'Back', project_drainages_path %>
