<p id="notice"><%= notice %></p>

<p>
  <b>Artifact:</b>
  <%= @ceramic_dec_tech.artifact_id %>
</p>


<%= link_to 'Edit', edit_ceramic_dec_tech_path(@ceramic_dec_tech) %> |
<%= link_to 'Back', ceramic_dec_teches_path %>
