<p id="notice"><%= notice %></p>

<p>
  <strong>Imagefileformat:</strong>
  <%= @image_file_format.ImageFileFormat %>
</p>

<%= link_to 'Edit', edit_image_file_format_path(@image_file_format) %> |
<%= link_to 'Back', image_file_formats_path %>
