<p id="notice"><%= notice %></p>

<p>
  <b>Shank style:</b>
  <%= @button_shank_style.shank_style %>
</p>


<%= link_to 'Edit', edit_button_shank_style_path(@button_shank_style) %> |
<%= link_to 'Back', button_shank_styles_path %>
