<p id="notice"><%= notice %></p>

<p>
  <b>Handle decoration:</b>
  <%= @utensil_handle_decoration.handle_decoration %>
</p>


<%= link_to 'Edit', edit_utensil_handle_decoration_path(@utensil_handle_decoration) %> |
<%= link_to 'Back', utensil_handle_decorations_path %>
