<p id="notice"><%= notice %></p>

<p>
  <b>Buckle dec motif:</b>
  <%= @buckle_dec_motif.buckle_dec_motif %>
</p>


<%= link_to 'Edit', edit_buckle_dec_motif_path(@buckle_dec_motif) %> |
<%= link_to 'Back', buckle_dec_motifs_path %>
