<p id="notice"><%= notice %></p>

<p>
  <b>Profile shape:</b>
  <%= @context_feature_profile_shape.profile_shape %>
</p>


<%= link_to 'Edit', edit_context_feature_profile_shape_path(@context_feature_profile_shape) %> |
<%= link_to 'Back', context_feature_profile_shapes_path %>
