<p id="notice"><%= notice %></p>

<p>
  <b>Object color:</b>
  <%= @gen_object_color.object_color %>
</p>


<%= link_to 'Edit', edit_gen_object_color_path(@gen_object_color) %> |
<%= link_to 'Back', gen_object_colors_path %>
