<p id="notice"><%= notice %></p>

<p>
  <b>Utensil material:</b>
  <%= @utensil_material.utensil_material %>
</p>


<%= link_to 'Edit', edit_utensil_material_path(@utensil_material) %> |
<%= link_to 'Back', utensil_materials_path %>
