<p id="notice"><%= notice %></p>

<p>
  <b>Ceramic vessel category:</b>
  <%= @ceramic_vessel_category.ceramic_vessel_category %>
</p>


<%= link_to 'Edit', edit_ceramic_vessel_category_path(@ceramic_vessel_category) %> |
<%= link_to 'Back', ceramic_vessel_categories_path %>
