<p id="notice"><%= notice %></p>

<p>
  <b>Object manufacture country:</b>
  <%= @gen_object_manufacture_country.object_manufacture_country %>
</p>


<%= link_to 'Edit', edit_gen_object_manufacture_country_path(@gen_object_manufacture_country) %> |
<%= link_to 'Back', gen_object_manufacture_countries_path %>
