<p id="notice"><%= notice %></p>

<p>
  <b>Stem shape:</b>
  <%= @glass_stem_shape.stem_shape %>
</p>


<%= link_to 'Edit', edit_glass_stem_shape_path(@glass_stem_shape) %> |
<%= link_to 'Back', glass_stem_shapes_path %>
