<p id="notice"><%= notice %></p>

<p>
  <b>Yes no:</b>
  <%= @bone_yes_no_probably.yes_no %>
</p>


<%= link_to 'Edit', edit_bone_yes_no_probably_path(@bone_yes_no_probably) %> |
<%= link_to 'Back', bone_yes_no_probablies_path %>
