<p id="notice"><%= notice %></p>

<p>
  <b>Object description:</b>
  <%= @gen_object.object_description %>
</p>


<%= link_to 'Edit', edit_gen_object_path(@gen_object) %> |
<%= link_to 'Back', gen_objects_path %>
