<p id="notice"><%= notice %></p>

<p>
  <b>Bone mark type:</b>
  <%= @bone_mark_type.bone_mark_type %>
</p>


<%= link_to 'Edit', edit_bone_mark_type_path(@bone_mark_type) %> |
<%= link_to 'Back', bone_mark_types_path %>
