<p id="notice"><%= notice %></p>

<p>
  <b>Base mark:</b>
  <%= @ceramic_base_mark.base_mark %>
</p>


<%= link_to 'Edit', edit_ceramic_base_mark_path(@ceramic_base_mark) %> |
<%= link_to 'Back', ceramic_base_marks_path %>
