<p id="notice"><%= notice %></p>

<p>
  <b>Paste inclusion density:</b>
  <%= @ceramic_paste_inclusion_density.paste_inclusion_density %>
</p>


<%= link_to 'Edit', edit_ceramic_paste_inclusion_density_path(@ceramic_paste_inclusion_density) %> |
<%= link_to 'Back', ceramic_paste_inclusion_densities_path %>
