<p id="notice"><%= notice %></p>

<p>
  <b>Use wear location:</b>
  <%= @ceramic_use_wear_location.use_wear_location %>
</p>


<%= link_to 'Edit', edit_ceramic_use_wear_location_path(@ceramic_use_wear_location) %> |
<%= link_to 'Back', ceramic_use_wear_locations_path %>
