<p id="notice"><%= notice %></p>

<p>
  <b>Shank condition:</b>
  <%= @button_shank_condition.shank_condition %>
</p>


<%= link_to 'Edit', edit_button_shank_condition_path(@button_shank_condition) %> |
<%= link_to 'Back', button_shank_conditions_path %>
