<p id="notice"><%= notice %></p>

<p>
  <b>Buckle part:</b>
  <%= @buckle_part.buckle_part %>
</p>


<%= link_to 'Edit', edit_buckle_part_path(@buckle_part) %> |
<%= link_to 'Back', buckle_parts_path %>
