<p id="notice"><%= notice %></p>

<p>
  <b>End treatment:</b>
  <%= @bead_end_treatment.end_treatment %>
</p>


<%= link_to 'Edit', edit_bead_end_treatment_path(@bead_end_treatment) %> |
<%= link_to 'Back', bead_end_treatments_path %>
