<p id="notice"><%= notice %></p>

<p>
  <b>Button manu tech:</b>
  <%= @button_manu_tech.button_manu_tech %>
</p>


<%= link_to 'Edit', edit_button_manu_tech_path(@button_manu_tech) %> |
<%= link_to 'Back', button_manu_teches_path %>
