<p id="notice"><%= notice %></p>

<p>
  <b>Motif text location:</b>
  <%= @tobacco_pipe_motif_text_location.motif_text_location %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_motif_text_location_path(@tobacco_pipe_motif_text_location) %> |
<%= link_to 'Back', tobacco_pipe_motif_text_locations_path %>
