<p id="notice"><%= notice %></p>

<p>
  <b>Bone location:</b>
  <%= @bone_location.bone_location %>
</p>


<%= link_to 'Edit', edit_bone_location_path(@bone_location) %> |
<%= link_to 'Back', bone_locations_path %>
